.financialText{
    text-align: center;
    width: 40%;
    margin-left: 5%;
    box-shadow: -4px 4px 4px 2px; 
    border: 1px solid black;
}

.financialText .ftOver{
    margin-left: 15%;
}
.currentBalance{
    width: 50%;
    text-align:center;
}


.financialTotals{
  position: absolute;
height: 30px;
width: 100%;
color: black;
bottom: 30px;
display: flex;
flex-direction: row;
font-family: 'Coolvetica';
}

.oneCol{
  display: flex;
  flex-direction: column;
}

.twoCol{
  display: grid;
  grid-template-columns: 50% 50%;
}

.spreadSheetContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 70%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    height: 80%;
    box-shadow: -5px 5px 5px 2px;
}
    
.excelHeaderText{
    margin-left:25%;
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    border-bottom: 2px solid black;
    font-family: 'AmericanTypewriter';
}

.event{
    width: 90%;
    margin-top: 12px;
    border: 1px solid black;
    background: linear-gradient(to bottom left, #EBFFEE, #E2E2E2);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 4px 1px;
}

.eventDetail{
    width: auto;
    flex-grow: 1;
}

.eventLineOne{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 3%;
}
.eventType {
    color:forestgreen;
    width: 70%;
    text-align: left;
    font-size: 20px;
}
.eventLocation{
    width: 50%;
    text-align: right;
    font-weight: normal;
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 3px;
}
.eventDate{
    text-align: left;
    width: 70%;
    color: gray;
    font-style: italic;
}
.eventAmount{
    width: 30%;
    text-align: right;
}

.eventImage{
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 10px;
}

.expense{
    color: #B6A455;
}

.eventContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spreadSheetData {
    width: 100%;
    min-height: 300px;
}

.col{
    display: grid;
    grid-template-columns: 50% 50%;
}

.excelHeader{
    width: 100%;
    text-align: center;
    display: flex;
    text-align: center;
  }


  @media screen and (max-width: 1200px){

    .event{
      min-width: 200px;
      width: 90%;
    }
  
    .eventLocation{
      font-size: .8em;
    }

    .spreadSheetContainer{
        width: 80%;
        max-width: 80%;
      }
      .revContainer{
        width: 90%;
      }
  }

  @media screen and (max-width: 900px){

    .event{
      min-width: 30 0px;
      width: 90%;
    }
  
    .eventType{
      font-size: 12px;
    }
  
    .eventLocation{
      font-size: 10px;
      letter-spacing: 1px;
    }
  
    .eventDate{
      font-size: 12px;
    }
}

@media screen and (max-width: 600px){
  .eventLocation{
    font-size: 13px;
  }
  .eventType{
    font-size: 17px;
  }
}

  @media screen and (max-width: 400px){

    .eventLocation{
      font-size: 10px;
    }

    .eventType{
      font-size: 12px;
    }

    .spreadSheetContainer{
      width: 90%;
      max-width: 90%;
      margin-left: 5%;
      min-width: 300px;
    }
  
    .financialTotals{
      font-size: 14px;
    }
  }