.App {
  text-align: center;
  margin-top: 2px;
}

/* ----- BODY ----- */

.s1height{
  height: 90vh;
}

.homepageContainer{
  position: relative;
  display: block;
  min-height: 500px;
}

.flex{
  display: flex;
}

.hp{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 500px;
  z-index: 4;
}

.hpSize{
  height: 90vh;
  min-height: 500px;
}

.desktopHomepage{
  position: absolute;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.mobileHomepage{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homepageImageContainer{
  position: relative;
}

.mainBackground{
  position: absolute;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.mainBackground::before{
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-clip: padding-box;
    pointer-events: none;
}

.bgImage{
  width: 100%;;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
  z-index: 2;
}

.overlayContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.mobileHomepage .overlayContainer{
  width: 100%;
}

.overlay{
    color: white;
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: 2px;

}

.o1{
  height: 15%;
  width: 60%;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10%;
}

.o2{
  height: 30%;
  width: 70%;
  font-size: 2.5em;
  font-weight: bold;
}

/* ----- DONATION ----- */
.donationButtonSection{
  height: 15vh;
  width: 20vw; 
  min-width: 200px;
}
.donationButton {
    z-index: 3;
    height: 15vh;
    line-height: 15vh;
    min-width: 200px;

    font-family: 'Coolvetica', sans-serif;
    border-radius: 10px;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 0px 5px white;

    background: hsla(259, 33%, 32%, 1);
    background: linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#48376C", endColorstr="#C5A6E3", GradientType=1 );
  }

@media screen and (max-width: 1200px){
  .donationButton{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px){
  .overlay{
    justify-content: center;
  }
  .o1{
    font-size: 1.5em;
    width: 90%;
  }
  .o2{
    font-size: 2em;
    margin-top: 50px;
    width: 80%;
  }
}

/* ----- SECTION 2 ----- */
.homepageSectionTwo{
  background-color: white;
  height: 40vh;
  min-height: 300px;
  display:grid;
  grid-template-columns: 50vw 50vw;
}

.quoteContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.quote{
  width: 200px;
  margin-left: 10vw;
  margin-top: 20%;
  font-size: 1em;

  font-weight: bold;
}

.imageContainer{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 50vw;
  min-height: 50%;
}

.quoteImg{
  margin-left: 0%;
  width: auto;
  max-width: 50%;
  max-height: 60%;
  min-height: 100%;
  border: 2px solid black;
}

@media screen and (max-width: 900px){
  .quoteImg{
    width: 70vw;
  }
}

.footer{
  width: 100%;
}

.footerIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the desired height */
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./fonts/Coolvetica.otf') format('truetype');
}

@font-face {
  font-family: 'Olympia';
  src: url('./fonts/Olympia.otf') format('truetype')
}