/* ----- HEADER ----- */

.header{
    height: 15vh;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .headerImage{
    width: 20%;
    max-width: 100px;
    height: auto;
    float: left;
    margin-left: 30px
  }

  .icons{
    height: 100%;
    justify-content: left;
  }

  .headerTextContainer{
      display: flex;
      align-items: center;
      justify-content: left;
      text-align: left;
      height: 100%; /* Set the desired height for the container */
  }

  .headerText {
    float: left;
    line-height: 100%;
    font-size: 3.5vw;
    font-weight: bold;
    padding-left: 30px;
  
  }
  .icon {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image-container {
    height: 100%;
    float: right;
    width: 100px;
    position: relative;
  }
  .visible{
    height: auto;
    position: relative;
    width: 50px;
  }
  .fade{
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
  }
  .image-container:hover .fade {
    opacity: 1;
  }
  .instagram{
    margin-top: 25px;
  }
  .youtube{
    top: -5px;
  }
  .instagram_colors{
    height: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 50px;
  }
  .youtube_colors {
    width: 78px;
    height: auto;
    margin-left: 11px;
    margin-top: 33px;
    top: -5px
  }
  .discord_colors{
    margin-left: 25px;
    height: 38px;
  }

  @media screen and (max-width: 960px){
    .headerText{
        font-size: 5vw;
    }
    .header{
      justify-content: left;
    }
    .headerText{
      width: 100%;
    }
  }

.headerUnderline{
  height: 3px;
  background-color: #262626;
  width: 100%;
}