/* ----- HEADER ----- */

.header{
    margin-top: 20px;
    height: 15vh;
    min-height: 50px;
    width: 100%;
  }
  .headerImage{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px
  }
  .headerText {
    float: left;
    line-height: 100px;
    font-size: 4.0vw;
    font-weight: bold;
    padding-left: 30px;
  
  }
  .icon {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .image-container {
    height: 100px;
    float: right;
    width: 100px;
    position: relative;
  }
  .visible{
    height: auto;
    position: relative;
    width: 50px;
  }
  .fade{
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
  }
  .image-container:hover .fade {
    opacity: 1;
  }
  .instagram{
    margin-top: 25px;
  }
  .youtube{
    top: -5px;
  }
  .instagram_colors{
    height: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 50px;
  }
  .youtube_colors {
    width: 78px;
    height: auto;
    margin-left: 11px;
    margin-top: 33px;
    top: -5px
  }
  .discord_colors{
    margin-left: 25px;
    height: 38px;
  }