/* ----- HEADER ----- */

.h{
  min-height: 100px;
}

.headerOne{
  display: grid;
    height: 15vh;
    grid-template-columns: 10% 50% 40%;
    width: 100%;
  }

  .headerTwo{
    display: grid;
    height: 15vh;
    grid-template-columns: 10% 75% 15%;
    width: 100%;
  }

  .headerImage{
    min-width: 100px;
    width: auto;
    height: 15vh;
    margin-left: 5%;
  }

  .dropdownIconContainer{
    height: 15vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdownIcon{
    min-height: 25px;
    min-width: auto;
    height: 3vh;
  }

  .icons{
    height: 100%;
    justify-content: left;
    min-width: 300px;
  }

  .headerText {
    height: 15vh;
    align-items: center;
    text-align: left;
    font-size: 3.5vw;
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }

  .ht{
    all: unset;
  }

  .icon {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image-container {
    height: 100%;
    float: right;
    width: 100px;
    position: relative;
  }
  .visible{
    height: auto;
    width: 50px;
  }
  .fade{
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
  }
  .image-container:hover .fade {
    opacity: 1;
  }
  .instagram{
    margin-top: 25px;
  }
  .youtube{
    top: 0px;
  }
  .instagram_colors{
    height: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 50px;
  }
  .youtube_colors {
    width: 78px;
    height: auto;
    margin-left: 11px;
    margin-top: 33px;
    top: -5px
  }
  .discord_colors{
    margin-left: 25px;
    height: 38px;
  }

  @media screen and (max-width: 800px){
    .icons{
      display: none;
    }
    .headerText{
      font-size: 5vw;
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 600px){
    .h{
      min-height:80px;
    }

    .headerTwo{
      grid-template-columns: 15% 65% 20%;
    }
    .headerText{
      padding-left: 0px;
      margin-left: 0px;
    }
    .headerImage{
      min-width: 80px;
    }

    .dropdownIcon{
      min-height: 15px;
    }
  
  }

.headerUnderline{
  height: 3px;
  background-color: #262626;
  width: 100%;
}