/* ----- MODAL ----- */

.z1{
    z-index: 1;
  }
  .z3{
    z-index: 3;
  }
  
  .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .donationModal {
    z-index: 7;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    height: 65vh;
    background-color: #eeeeee;
  
    border-radius: 10px;
  
    box-shadow: 5px 5px 30px 5px #666666;
  }
  
  .donationMethodOptionContainer{
    width: 100%;
    height: 8vh;
  
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
  
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #444444;
  }

  .donationMethodContainer{
    width: 100%;

    min-height: 75px;

  }
  
  .donationMethodOption {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8vh;
    border-right: 2px solid #999999;
  }
  
  .donationMethodSelected {
    width: 100%;
    height: 1vh;
    margin-top: -1vh;
    background-color: #bfdce3;
  }
  
  .VenmoQR {
    width: 20vw;
    height: 20vw;
  
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
  
    border-radius: 20px;
  }
  
  .CashAppQR{
    width: 17vw;
    height: 20vw;
    margin-top: 5vh;
    border-radius: 20px;
  }
  
  .VenmoLogo{
    position: aboslute;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 100%;
  }
  
  .CashAppLogo{
    position: aboslute;
    width: 80%;
    height:60%;
  }

  @media screen and (max-width: 600px){
    .donationModal{
      width: 70vw;
    }
  }