.subscribeContainer{
  display: flex;
  justify-content: center;
  min-height: 500px;
  max-width: 100%;
}

.subscribe{
    position: relative;
    width: 70%;
    height: 80%;
    min-height: 500px;

    margin-top: 5%;
    
    background-color: #F5F5F4;
    border-radius: 6px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 15px 3px black;
    font-family: 'Coolvetica';
    font-size: 1.5vw;;
  }

.st{
  font-size: 1.25vw;
}

.c{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.subscribeHeader{
  width: 50%;
  max-width: 300px;
}

form{
  width: 100%;
  margin-top: 5%;
  display:flex;
  flex-direction: column;
}

label{
  text-align: left;
  margin-left: 5%;
  font-size: 1vw;
}

.input{
  display: block;
  width:90%;
  margin-left: 5%;
  margin-bottom: 20px;
  font-weight: 200;
}

.input::placeholder{
  color: gray;
  font-style: italic;
  white-space: pre-wrap;
}

.email{
  max-width: 400px;
}

.nospam{
  max-width: 400px;
}

.suggestionContainer{
  height: 70px;
  position: relative;
  width: 100%;
}

.lh2{
  height: 70px;
}

.suggestionOverlay{
  position: absolute;
  text-align: left;
  top: 3px;
  left: 7px;
  width: 80%;
  font-weight: lighter;
  color: #bbbbbb;
  font-style: italic;
}

.input .suggestion{
  margin-left: 0;
}

.subscribeButton{
  background: hsla(259, 33%, 32%, 1);
  background: linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#48376C", endColorstr="#C5A6E3", GradientType=1 );

  color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: 60%;
  min-height: 60px;
  border-radius: 4px;
  border: 2px solid black;
  margin-bottom: 50px;
}

@media screen and (min-width: 1700px){
  .subscribe{
    font-size: 25px;
  }
  form{
    margin-top: 20px;
  }
  label{
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
  }
  .st{
    font-size: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 1500px){
  form{
    margin-top: 20px;
  }
  label{
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
  }
  .st{
    font-size: 20px;
  }
  .moreSubText{
    margin-left: 10%;
    width: 80%;
  }
  .subscribeButton{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70%;
    height: 80%;
  }
  
}
