.App {
  text-align: center;
  border-top: 2px solid black;
}

/* ----- HEADER ----- */

.header{
  margin-top: 20px;
  height: 15vh;
  min-height: 50px;
  width: 100%;
}
.headerImage{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 30px
}
.headerText {
  float: left;
  line-height: 100px;
  font-size: 4.0vw;
  font-weight: bold;
  padding-left: 30px;

}
.icon {
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-container {
  height: 100px;
  float: right;
  width: 100px;
  position: relative;
}
.visible{
  height: auto;
  position: relative;
  width: 50px;
}
.fade{
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease;
}
.image-container:hover .fade {
  opacity: 1;
}
.instagram{
  margin-top: 25px;
}
.youtube{
  top: -5px;
}
.instagram_colors{
  height: auto;
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  width: 50px;
}
.youtube_colors {
  width: 78px;
  height: auto;
  margin-left: 11px;
  margin-top: 33px;
  top: -5px
}
.discord_colors{
  margin-left: 25px;
  height: 38px;
}

/* Todo */
.headerUnderline{
  height: 3px;
  color: #262626;
  width:90vw;
  margin-left: 10vw;
}

/* ----- BODY ----- */
.homepageImageContainer{
  position: relative;
}
.homepageContainer{
  position: relative;
}
.mainBackground{
  display: block;
  width: 100vw;
  height: 90vh;
}
.homepageImageContainer::after{
  content: "";
  position: absolute;
  top: 60%;
  width: 100%;
  left: 0;
  height: 40%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255,255, 1));
  pointer-events: none;
}
.overlay{
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: 2px;
}
.o1{
  top: 15%;
  left: 42%;
  font-size: 35px;
  font-weight: bold;
}
.o2{
  top: 35%;
  left: 48%;
  font-size: 38px;
  font-weight: bold;
}

/* ----- DONATION ----- */
.donationButtonSection{
  position: absolute;
  top: 55%;
  left: 40%;
  height: 15vh;
  width: 20vw; 
}
.donationButton {
    height: 15vh;
    line-height: 15vh;

    font-family: 'Coolvetica', sans-serif;
    border-radius: 10px;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 0px 5px white;

    background: hsla(259, 33%, 32%, 1);

    background: linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(259, 33%, 32%, 1) 30%, hsla(270, 52%, 77%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#48376C", endColorstr="#C5A6E3", GradientType=1 );}



@keyframes colorshift {
  from {background-color: rgba(174, 219, 173, .75);}
  25% {background-color: rgba(173, 219, 217, .75);}
  50%{background-color: rgba(173, 175, 219, .75);}
  75%{background-color: rgba(173, 219, 217, .75);}
  to {background-color: rgba(174, 219, 173, .75);}
}

/* ----- SECTION 2 ----- */
.homepageSectionTwo{
  background-color: white;
  width: 100vw;
  height: 60vh;
  display:grid;
  grid-template-columns: 50vw 50vw;
}
.quote{
  width: 30vw;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 22vw;
  margin-top: 15vh;
}
.quoteImg{
  margin-top: 5vh;
  display: block;
  margin-left: 8vw;
  width: 20vw;
  height: 50vh;
  grid-column: 2;
  border: 2px solid black;
}
.homepageSectionThree{
  display:grid;
  grid-template-columns: 50vw;
}

/* ---- OPTIONS ----- */
.optionTitle {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
}

.option {
  height: 50px;
  width: 30vw;
  line-height: 50px;
  margin-left: 10vw;
  margin-top: 1vh;
  border: 1px solid black;
  position: relative;
}

.optionIcon{
  float:left;
  margin-left: 20px;
  margin-top: 5px;
  height: 40px;
  width: 40px;
}
.optionText{
  text-align: left;
  margin-left: 20px;
  font-weight: bolder;
}

/* ----- MODAL ----- */

.modalContainer {
  position: fixed;
  top: 0vh;
  left: 0vh;
  width: 100vw;
  height: 100vh;
}

.donationModal {
  position: fixed;
  top: 20vh;
  left: 30vw;
  right: 30vw;
  width: 40vw;
  height: 65vh;
  background-color: #eeeeee;

  border-radius: 10px;

  box-shadow: 5px 5px 30px 5px #666666;
}

.donationMethodOptionContainer{
  width: 40vw;
  height: 8vh;

  display: grid;
  grid-template-columns: 13.33vw 13.33vw 13.34vw;

  background-color: #dddddd;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #444444;
}

.donationMethodOption {
  width: 13.33vw;
  border-right: 2px solid #999999;

  padding-top: 2vh;
  padding-bottom: 2vh;
}

.donationMethodSelected {
  width: 13.33vw;
  height: 1vh;
  background-color: #bfdce3;
  border-right: 2px solid #999999;
  border-bottom: 1px solid #444444;
}

.venmoQR {
  width: 20vw;
  height: 20vw;

  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;

  border-radius: 20px;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('Coolvetica.otf') format('truetype');
}